---
import Layout from '../layouts/Layout.astro';
import Introduction from '../components/Introduction.astro';
import Navigation from '../components/Navigation.astro';
import { Image } from 'astro:assets';


const {frontmatter} = Astro.props;
---


<Layout title={frontmatter.title}>

    <!-- <Image class="fadeIn" src={frontmatter.img} alt="Placeholder" height="928" width="1400"/> -->

  
    <main>
        <Navigation />





            

        
        <div class="post-wrapper">

            <div class="post-header">
                <p class="subhead">{frontmatter.date}</p>
                <h1>{frontmatter.title}</h1>
                <!-- <p>{frontmatter.blurb}</p> -->
            </div>
            

        
            <section class="post-content">
                <slot />
            </section>
        </div>
        
    </main>

    
</Layout>

<style>

    .post-image {
        width:100%;
        border: 5px solid red !important;
    }


    .post-wrapper{
        background: var(--background);
        max-width: 60ch;
        /* margin: -96px auto 0 auto; */
        margin: 0 auto;
        padding: 24px 48px;
        border-radius: var(--border-radius-default);
        /* transform: translateY(-200px); */
        z-index:1000;

        /* margin: 0 auto; */
        /* margin: -96px auto 0 auto; */
    }

    .post-header{
        

        /* padding:24px; */
        /* max-width: 40ch; */

        /* padding:48px; */

        position: relative;
        text-align: left;
        color: white;
        margin: 0 auto;

    }

    .header-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

  

    img{
        width: 100%;
        /* filter: brightness(0.4); */
        z-index:-5;
        max-height:30vh;
        object-fit: cover;
        position: absolute;

        /* max-width:700px; */
        /* margin: 0 0 48px 0; */
    }

    main{
        /* padding: 48px; */
        overflow-x: hidden;


        p{
        opacity:.5;
     }
    }

    .post-content{
        max-width: 60ch;
        /* margin: 0 auto; */
        /* margin: 64px auto; */
    }

    

</style>

<script>


const elements = document.querySelectorAll('img');

elements.forEach((element) => {
  element.classList.add('post-image');
});
</script>